/* Desendent */

.parent .child {
  color: blueviolet;
}

/* Direct descendent */

.parent > .child {
  color: blueviolet;
}

/* Adjacent sibling */

.child + .sibling {
  color: blueviolet;
}

/* Far sibling */

.child ~ .sibling {
  color: blueviolet;
}

/* Have both classes */

.class1.class2 {
  color: blueviolet;
}

/* Attribute */

[attribute-name] {
  color: blueviolet;
}

[exact="value"] {
  color: blueviolet;
}

[Has~="value"] {
  color: blueviolet;
}

[end-in$="ends in"] {
  color: blueviolet;
}

[begins-with^="begins"] {
  color: blueviolet;
}
