/* padding: top right bottom left */

.padding {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  padding: 20px;
}

/* margin: top right bottom left */

.margin {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;

  margin: 20px;
}

.width {
  width: 200px;
}

.height {
  display: inline-block;
  height: 100px;
}

/* Border */

.border .solid {
  border: 3px solid mediumaquamarine;
}
.border .double {
  border: 3px double mediumorchid;
}
.border .dotted {
  border: 3px dotted mediumpurple;
}
.border .dashed {
  border: 3px dashed mediumseagreen;
}
.border .groove {
  border: 3px groove mediumslateblue;
}
.border .ridge {
  border: 3px ridge mediumspringgreen;
}
.border .inset {
  border: 3px inset mediumturquoise;
}
.border .outset {
  border: 3px outset mediumvioletred;
}

/* Box-sizing */

.border-sizing .border-box {
  box-sizing: border-box;
  border: 5px dashed #777;
  height: 35px;
}
.border-sizing .content-box {
  box-sizing: content-box;
  border: 5px dashed #777;
  height: 35px;
}
