.keyword {
  color: red;
}

.hexadecimal {
  color: #ff0000;
}

.rgb {
  color: rgb(255, 0, 0);
}

.hsl {
  color: hsl(0, 100%, 50%);
}

.alpha {
  color: rgba(255, 0, 0, 0.2);
  color: hsla(0, 100%, 50%, 0.2);
  color: #ff000033;
}
