/* The Block, Element, Modifier methodology (commonly referred to as BEM) is a popular naming convention for classes in HTML and CSS. */

/* -------- HTML -------- */
/* 
  <article class="card">
    <img class="card__img" />
    <section class="card__buttons">
      <button class"button button--submit">Submit</button>
      <button class"button button--cancel">Cancel</button>
    </section>
  </article>
*/

/* -------- BEM -------- */
/* 
  .card
  .card__img
  .card__buttons
  .button
  .button--submit
  .button--cancel
*/

.card {
  width: 30rem;
  border: 1px solid #1f1235;
  border-radius: 0.5rem;
}
.card__img {
  width: 100%;
}
.card__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.button {
  width: 8rem;
  padding: 0.5rem 1rem;
  border: 1px solid #1f1235;
  border-radius: 1rem;
}
.button--submit {
  background-color: green;
}
.button--cancel {
  background-color: red;
}
