/* Keyword */
.text-keyword {
  color: red;
}

/* Hexadecimal */
.text-hex {
  color: #ff0000;
}

/* RGB */
.text-rgb {
  color: rgb(255, 0, 0);
}

/* HSL */
.text-hsl {
  color: hsl(0, 100%, 50%);
}
