.font {
  font-size: 18px;
}

/* font-family */
.font .font-family {
  font-family: cursive;
}

/* font-size */
.font .font-size {
  font-size: 25px;
}

/* font-weight */
.font .font-weight .bold {
  font-weight: bold;
}
.font .font-weight .bolder {
  font-weight: bolder;
}
.font .font-weight .lighter {
  font-weight: lighter;
}

/* font-style */
.font .font-style .italic {
  font-style: italic;
}
.font .font-style .oblique {
  font-style: oblique;
}

/* text-align */
.font .text-align .right {
  text-align: right;
}
.font .text-align .center {
  text-align: center;
}
.font .text-align .justify {
  text-align: justify;
}

/* text-decoration */
.font .text-decoration .overline {
  text-decoration: overline;
}
.font .text-decoration .line-through {
  text-decoration: line-through;
}
.font .text-decoration .underline {
  text-decoration: underline;
}

/* text-transform */
.font .text-transform .capitalize {
  text-transform: capitalize;
}
.font .text-transform .uppercase {
  text-transform: uppercase;
}
.font .text-transform .lowercase {
  text-transform: lowercase;
}

/* letter-spacing */
.font .letter-spacing {
  letter-spacing: 5px;
}

/* line-height */
.font .line-height {
  line-height: 1.5;
}
