.lengths ul {
  text-align: center;
}

/* Absolute length units */

.lengths .in {
  width: 5in;
  background-color: mediumslateblue;
}

.lengths .cm {
  width: 5cm;
  background-color: mediumturquoise;
}

.lengths .mm {
  width: 100mm;
  background-color: mediumpurple;
}

.lengths .pt {
  width: 100pt;
  background-color: mediumseagreen;
}

.lengths .pc {
  width: 10pc;
  background-color: mediumorchid;
}

.lengths .px {
  width: 100px;
  background-color: mediumspringgreen;
}

/* Releative length units */

.lengths .em {
  width: 5em;
  background-color: mediumslateblue;
}

.lengths .rem {
  width: 5rem;
  background-color: mediumturquoise;
}

.lengths .vw {
  width: 10vw;
  background-color: mediumpurple;
}

.lengths .vh {
  width: 10vh;
  background-color: mediumseagreen;
}

.lengths .vmin {
  width: 15vmin;
  background-color: mediumorchid;
}

.lengths .vmax {
  width: 20vmax;
  background-color: mediumspringgreen;
}

.lengths .percentage {
  width: 20%;
  background-color: mediumvioletred;
}
