/*  Move item
    - top: ;
    - right: ;
    - bottom: ;
    - left: ;
*/

/* static = default */

.position .relative {
  position: relative;
}

.position .absolute {
  position: absolute;
  left: 200px;
}

.position .fixed {
  position: fixed;
  bottom: 20px;
  left: 300px;
}

.position .static {
  position: static;
  top: 20px;
}
