/* All elements */
* {
  color: blueviolet;
}

/* Elements HTML */
div {
  color: blueviolet;
}

/* Attribute Class */
.class {
  color: blueviolet;
}

/* Attribute Id */
#id {
  color: blueviolet;
}
