/* Inline */
.display__inline {
  display: inline;
}

/* Block */
.display__block {
  display: block;
}

/* Inline-Block */
.display__inline-block {
  display: inline-block;
}

/* None */
.display__none {
  display: none;
}
