/* Child selector */
.advanced-selectors .direct-descendant .parent > .child {
  color: red;
}

/* Adjacent sibling */
.advanced-selectors .adjacent-sibling .child + .sibling {
  color: blueviolet;
}

/* Adjacent sibling */
.advanced-selectors .far-sibling .child ~ .sibling {
  color: blueviolet;
}

/* Attributte selector */
.advanced-selectors .attribute-selector [attribute-name] {
  color: red;
}
.advanced-selectors .attribute-selector [exact="value"] {
  color: blue;
}
.advanced-selectors .attribute-selector [Has~="value"] {
  color: green;
}
.advanced-selectors .attribute-selector [end-in$="ends in"] {
  color: brown;
}
.advanced-selectors .attribute-selector [begins-with^="begins"] {
  color: blueviolet;
}
