/* Universal selector */
.basic-selector * {
  font-family: cursive;
}

/* Type or label selector */
.basic-selector li:first-child {
  color: blue;
}

/* Class selector */
.basic-selector .class {
  color: red;
}

/* ID selector */
.basic-selector #id {
  color: green;
}
