/* Hover */
.pseudo-classes .hover:hover {
  border: 1px dashed #000;
  color: #ff00b3;
}

/* Active */
.pseudo-classes .active:active {
  border: 1px solid #000;
  color: #10a4c9;
}

/* Visited */
.pseudo-classes .visited:visited {
  color: red;
}

/* Link */
.pseudo-classes .link:link {
  color: #10a4c9;
  border: 2px solid #ff00b3;
}

/* Focus */
.pseudo-classes .focus:focus {
  outline: 2px dashed green;
}

/* Required */
.pseudo-classes .required:required {
  outline: 2px solid red;
}

/* Valid */
.pseudo-classes .valid:valid {
  outline: 2px solid green;
}

/* Invalid */
.pseudo-classes .valid:invalid {
  outline: 2px solid #c800ff;
}

/* Disabled */
.pseudo-classes .disabled:disabled {
  background: #a0020289;
}
